* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}

header {
    background: #50b3a2;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #50b3a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;

}

button:hover {
    background: #429488;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: #50b3a2;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: #429488;
}

a {
    color: #50b3a2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
